[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.2.2"
flask = "==3.0.3"
pandas = "==2.2.2"
uvicorn = "==0.30.5"
asgiref = "==3.8.1"
numpy = "==1.26.4"
streamlit = "==1.37.0"
st-pages = "==1.0.1"
mlops = {file = ".", editable = true}

[dev-packages]
pylint = "==3.2.6"
black = "24.8.0"
isort = "5.13.2"
pre-commit = "3.8.0"

[requires]
python_version = "3.10"
